html
    head
        title 설빙 - 관리자 페이지
        link( rel="stylesheet", href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css" )
        script(src="https://kit.fontawesome.com/90abd907ab.js" crossorigin="anonymous")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="./css/admin.css")
    body
        main.mainDisplay
            ul.mainMenu
                li
                    a( href="/admin_order" )
                        img.logo(src="./images/sulbingLogo.png", alt="설빙로고", title="설빙로고")
                li
                    a( href="/admin_order" ) 주문현황
                li
                    a( href="/admin_product" ) 상품관리
                li
                    a( href="/admin_sales" ) 매출
                li
                    a( href="/admin_menu" ) 메뉴관리
                li
                    a( href="/admin_user" ) 회원관리
            section.adminPage
                section.headFrame
                    h1 회원관리
                section.mainContent
                    section.searchBox
                        form#searchTelForm
                            label tel
                            input.searchInput#searchTel( type="text", name="tel" )
                            button
                                i.xi-search
                            i.xi-refresh( onclick="location.reload();" )
                    section.postTable
                        ul.userRowSet
                            li
                                ul.userColSet
                                    li No
                                    li 이름
                                    li tel
                                    li 성별
                                    li 생년월일
                                    li 스탬프
                                    li 권한
                                    li 등록일
                                    li 가입일
                                    li 메모
                                    li 기능
                            li.userInsertRow
                                form
                                    ul.userColSet
                                        li.userColEmpty new
                                        li
                                            input( type="text", name="name", require )
                                        li
                                            input( type="text", name="tel", require )
                                        li
                                            select( name="sex" )
                                                option( value="M" ) 남
                                                option( value="F" ) 여
                                        li
                                            input( type="date", name="birth_date" )
                                        li.userColEmpty -
                                        li
                                            select( name="auth" )
                                                option( value="N" ) 일반회원
                                                option( value="G" ) 미가입자
                                                option( value="S" ) 관리자
                                        li.userColEmpty -
                                        li.userColEmpty -
                                        li
                                            input( type="text", name="remark" )
                                        li
                                            input.userInsertBtn( type="button" value="추가" )
                                        li
                                            input.userResetBtn( type="button" value="지우기" )
                        ul.userReadRowSet
                            each item, i in readPost
                                li.userReadRow
                                   form
                                       ul.userColSet
                                           li= i+1
                                               input( type="hidden" name="id" data-origin-value=`${ item.id }`, value=`${ item.id }` )
                                           li
                                               input( type="text", name="name", data-origin-value=`${ ( item.name )? item.name: '' }`, value=`${ ( item.name )? item.name: '' }`, require, disabled )
                                           li
                                               input( type="text", name="tel", data-origin-value=`${ item.tel }`, value=`${ item.tel }`, require, disabled )
                                           li
                                               select( name="sex", data-origin-value=`${ item.sex }`, disabled )
                                                   - let sexArr= [ { K: '남', V: 'M' }, { K: '여', V: 'F' } ];
                                                   option( value=``, selected )
                                                   each v, k in sexArr
                                                       if v.V == item.sex
                                                           option( value=`${ v.V }`, selected ) #{ v.K }
                                                       else
                                                           option( value=`${ v.V }` ) #{ v.K }
                                           li
                                               input( type="date", name="birth_date", data-origin-value=`${ item.birth_date }`, value=`${ item.birth_date }`, disabled )
                                           li
                                               input.fixCol( type="number", name="stamp", data-origin-value=`${ item.stamp }`, value=`${ item.stamp }`, disabled )
                                           li
                                               select( name="auth", data-origin-value=`${ item.auth }`, disabled )
                                                   - let authArr= [ { K: '미가입자', V: 'G' }, { K: '일반회원', V: 'N' }, { K: '관리자', V: 'S' } ];
                                                   each v, k in authArr
                                                       if v.V == item.auth
                                                           option( value=`${ v.V }`, selected ) #{ v.K }
                                                       else
                                                           option( value=`${ v.V }` ) #{ v.K }
                                           li= item.created_date
                                           li= item.join_date
                                           li
                                               input( type="text", name="remark", data-origin-value=`${ ( item.remark )? item.remark: '' }`, value=`${ ( item.remark )? item.remark: '' }`, disabled )
                                           li
                                               input.userUpdateBtn( type="button" data-origin-value="수정", value="수정", disabled )
                                           li
                                               input.userDeleteBtn.fixCol( type="button" data-origin-value="삭제",  value="삭제" )
                            else
                                li.emptyRow 게시물이 존재하지 않습니다.
                    section.tablePaging
                        - let pageCnt= ( ( userTotCnt[0].cnt / 20 ) < 1 )? 1 : ( userTotCnt[0].cnt / 20 );
                        - for( let i= 0; i < pageCnt; i++ )
                            a( data-page-idx=`${ i }`, data-page=`${ i == nowPage }` )= i + 1
                    section.modalConfirmBak#modalConfirmBak
                        section.modalConfirm
                            p 수정하시겠습니까
                            .modalBtnSet
                                button.modalBtn( data-modal-confirm=true ) YES
                                button.modalBtn( data-modal-confirm=false ) CANCEL
    script( src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.js'
        integrity='sha512-6DC1eE3AWg1bgitkoaRM1lhY98PxbMIbhgYCGV107aZlyzzvaWCW1nJW2vDuYQm06hXrW0As6OGKcIaAVWnHJw=='
        crossorigin='anonymous')
    script( src="https://unpkg.com/axios/dist/axios.min.js")
    script( src="./js/adminUser.js" )