html
    head
        title 설빙 - 관리자 페이지
        link( rel="stylesheet", href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css" )
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.js'
            integrity='sha512-6DC1eE3AWg1bgitkoaRM1lhY98PxbMIbhgYCGV107aZlyzzvaWCW1nJW2vDuYQm06hXrW0As6OGKcIaAVWnHJw=='
            crossorigin='anonymous')
        script(src="https://kit.fontawesome.com/90abd907ab.js" crossorigin="anonymous")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="./css/admin_menu.css")
        script( src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="./js/adminMenu.js")
    body
        main.mainDisplay
            ul.mainMenu
                li
                    a( href="/admin_order" )
                        img.logo(src="./images/sulbingLogo.png", alt="설빙로고", title="설빙로고")
                li
                    a( href="/admin_order" ) 주문현황
                li
                    a( href="/admin_product" ) 상품관리
                li
                    a( href="/admin_sales" ) 매출
                li
                    a( href="/admin_menu" ) 메뉴관리
                li
                    a( href="/admin_user" ) 회원관리
            section.adminPage
                section.headFrame
                    h1 메뉴관리
                section.mainContent
                    section.searchBox
                        i.xi-refresh( onclick="location.reload();" )  새로고침
                    section.menuBox
                        .menuTitle
                            h1 대메뉴
                            h1 소메뉴
                        for menuList, i in menu[0]
                            div.menuWrap
                                if menuList.deleted_date == NULL
                                    li(id=`menu${i+1}` data-id = `${menuList.name}` )
                                        span #{menuList.name}
                                        section
                                            form(action="/admin_menu/menuCheck" method="POST")
                                                input(type="hidden" name="nameMenu" value=`${menuList.name}`)
                                                input(type="hidden" name="isMain" value="true")
                                                input(type="hidden" name="checkMenu" value="active")
                                                input(style="color:gray" type="submit" value="사용")
                                            form(action="/admin_menu/menuCheck" method="POST")
                                                input(type="hidden" name="nameMenu" value=`${menuList.name}`)
                                                input(type="hidden" name="isMain" value="true")
                                                input(type="hidden" name="checkMenu" value="inactive")
                                                input(style="box-shadow:0.1rem 0.1rem 0.2rem gray" type="submit" value="미사용")
                                else
                                    li(id=`menu${i+1}` data-id = `${menuList.name}` )
                                        span(style="color:#b5333c") #{menuList.name}
                                        section
                                            form(action="/admin_menu/menuCheck" method="POST")
                                                input(type="hidden" name="nameMenu" value=`${menuList.name}`)
                                                input(type="hidden" name="isMain" value="true")
                                                input(type="hidden" name="checkMenu" value="active")
                                                input(style="box-shadow:0.1rem 0.1rem 0.1rem gray" type="submit" value="사용")
                                            form(action="/admin_menu/menuCheck" method="POST")
                                                input(type="hidden" name="nameMenu" value=`${menuList.name}`)
                                                input(type="hidden" name="isMain" value="true")
                                                input(type="hidden" name="checkMenu" value="inactive")
                                                input(style="color:gray" type="submit" value="미사용")
                                ul
                                    for menuName, j in menu[1]
                                        if menuName.pid == menuList.name
                                            if menuName.deleted_date == NULL
                                                li(id=`list${j+1}` data-id = `${menuName.name}`)
                                                    span(style="color:#2e1f1a") #{menuName.name}
                                                    section
                                                        form(action="/admin_menu/menuCheck" method="POST")
                                                            input(type="hidden" name="nameMenu" value=`${menuName.name}`)
                                                            input(type="hidden" name="checkMenu" value="active")
                                                            input(style="color:gray" type="submit" value="사용")
                                                        form(action="/admin_menu/menuCheck" method="POST")
                                                            input(type="hidden" name="nameMenu" value=`${menuName.name}`)
                                                            input(type="hidden" name="checkMenu" value="inactive")
                                                            input(style="box-shadow:0.1rem 0.1rem 0.2rem gray" type="submit" value="미사용")
                                            else
                                                li(id=`list${j+1}` data-id = `${menuName.name}`)
                                                    span(style="color:#b5333c") #{menuName.name}
                                                    section
                                                        form(action="/admin_menu/menuCheck" method="POST")
                                                            input(type="hidden" name="nameMenu" value=`${menuName.name}`)
                                                            input(type="hidden" name="checkMenu" value="active")
                                                            input(style="color:#424242; box-shadow:0.1rem 0.1rem 0.1rem gray" type="submit" value="사용")
                                                        form(action="/admin_menu/menuCheck" method="POST")
                                                            input(type="hidden" name="nameMenu" value=`${menuName.name}`)
                                                            input(type="hidden" name="checkMenu" value="inactive")
                                                            input(style="color:gray" type="submit" value="미사용")