html( lang="ko" )
    head
        meta( charset="utf-8" )
        script(src="http://code.jquery.com/jquery-latest.min.js")
        link( rel="stylesheet", href="./css/mainPage.css" )
        link( rel="stylesheet", href="./css/optionmodal.css")
        link( rel="preconnect" href="https://fonts.googleapis.com" )
        link( rel="preconnect" href="https://fonts.gstatic.com" crossorigin )
        link( href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet" )
        link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css")
        script(src="https://kit.fontawesome.com/90abd907ab.js" crossorigin="anonymous")
    body
        img(src="./images/aaa.jpg", alt="" class="a")
        main.main 
            section.logoBox
                img(src="./images/sulbingLogo.png", alt="")
            section.showProduct
                ul.menuBar1
                    - let check = 0;
                    - for (let i = 0; i < menu.length; i++)
                        -if (menu[i].lv1_id != check)
                            li  #{menu[i].lv1_name}
                            - check = menu[i].lv1_id
                ul.menuBar2
                    - let menuIndex = [];
                    - let pageNum = 0;
                    - check = 0;
                    - for (let i = 0; i < menu.length; i++)
                        -if (menu[i].lv1_id != check)
                            li
                                -for(let j = 0; j < menu.length; j++)
                                    -if (j == 0)
                                        - menuIndex.push([`${pageNum + 1}_all`]);
                                        div All
                                    -if (menu[j].lv1_id == 1 + check)
                                        div #{menu[j].lv2_name}
                                        - menuIndex[pageNum].push(menu[j].lv2_id);
                            - check = menu[i].lv1_id
                            - pageNum++;
                hr.menuBarLine
                - pageNum = 1;
                - check = 0;
                - for (let i = 0; i < menu.length; i++)
                    - if (menu[i].lv1_id != check)
                        section.productListWrapBox
                            - let lv2Index = 0;
                            - for(let v = 0; v < menuIndex[pageNum - 1].length; v++)
                                article.productListBox
                                    - for (let j = 0; j < menuInProduct.length; j++)
                                        -if (menuInProduct[j].menu_id == menuIndex[pageNum - 1][lv2Index])
                                            - for (let k = 0; k < product.length; k++)
                                                - if (menuInProduct[j].product_id == product[k].product_id)
                                                    div
                                                        img(src=`images/${product[k].image_path}`, alt="")
                                                        p #{product[k].name}
                                                        p #{product[k].price}원
                                    - lv2Index++
                        - check = menu[i].lv1_id
                        - pageNum++;

            section.orderHistory
                section
                div
                    p 총 수량(0)
                    p 13,900 원
                    button 결제
                    button 초기화
        script(src="./js/mainPage.js")