html( lang="ko" )
    head
        meta( charset="utf-8" )
        script(src="http://code.jquery.com/jquery-latest.min.js")
        link( rel="stylesheet", href="./css/mainPage.css" )
        link( rel="stylesheet", href="./css/optionmodal.css")
        link( rel="preconnect" href="https://fonts.googleapis.com" )
        link( rel="preconnect" href="https://fonts.gstatic.com" crossorigin )
        link( href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet" )
        link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css")
        script(src="https://kit.fontawesome.com/90abd907ab.js" crossorigin="anonymous")
    body
        //img(src="./images/temporary.jpg", alt="" class="temporary_img")
        main.main_page
            section.logoBox
                div
                    img(src="./images/sulbingLogo.png", alt="")
            section.showProduct
                ul.menuBar1
                    - let menuIdCheck = 0;
                    - for (let i = 0; i < menu.length; i++)
                        -if (menu[i].lv1_id != menuIdCheck)
                            li  #{menu[i].lv1_name}
                            - menuIdCheck = menu[i].lv1_id
                ul.menuBar2
                    - let menuIndex = [];
                    - let pageNum = 0;
                    - menuIdCheck = 0;
                    - for (let i = 0; i < menu.length; i++)
                        -if (menu[i].lv1_id != menuIdCheck)
                            li
                                -for(let j = 0; j < menu.length; j++)
                                    -if (j == 0)
                                        - menuIndex.push([`${pageNum + 1}_all`]);
                                        div All
                                    -if (menu[j].lv1_id == 1 + menuIdCheck)
                                        div #{menu[j].lv2_name}
                                        - menuIndex[pageNum].push(menu[j].lv2_id);
                            - menuIdCheck = menu[i].lv1_id
                            - pageNum++;
                hr.menuBarLine
                - pageNum = 1;
                - menuIdCheck = 0;
                - for (let i = 0; i < menu.length; i++)
                    - if (menu[i].lv1_id != menuIdCheck)
                        section.productListWrapBox
                            - let lv2Index = 0;
                            - for(let v = 0; v < menuIndex[pageNum - 1].length; v++)
                                article.productListBox
                                    - for (let j = 0; j < menuInProduct.length; j++)
                                        -if (menuInProduct[j].menu_id == menuIndex[pageNum - 1][lv2Index])
                                            - for (let k = 0; k < product.length; k++)
                                                - if (menuInProduct[j].product_id == product[k].product_id)
                                                    div.productItem(data-product-id = `${product[k].product_id}`)
                                                        img(src=`images/${product[k].image_path}`, alt="")
                                                        p #{product[k].name}
                                                        p #{Number(String(product[k].price - (product[k].price / 100 * product[k].discount)).replace(/[^0-9,]/g, '')).toLocaleString()}원
                                                        div
                                                            section 
                                                                button.option_modal_x_button
                                                            div.option_modal_up
                                                                img.optionImg(src=`images/${product[k].image_path}` alt='mangoBingsoo')
                                                                div.option_modal_text
                                                                    p(data-product-id = `${product[k].product_id}`) #{product[k].name}
                                                                    p.productPrice #{Number(String(product[k].price - (product[k].price / 100 * product[k].discount)).replace(/[^0-9,]/g, '')).toLocaleString()}원
                                                                    p #{product[k].discription}
                                                                    p 알레르기정보 : #{product[k].allergy}
                                                                div.totalPrice
                                                                    div 
                                                                        hr
                                                                        p 상품의 옵션을 선택하세요.
                                                                        hr
                                                                    p 합계:  
                                                                    p.resultPrice 0원
                                                                    hr 
                                                            div.option_modal_down
                                                                - let productOptionCheck = "";
                                                                - for (let i = 0; i <= productOptionArray[product[k].product_id].length; i++)
                                                                    - if (productOptionArray[product[k].product_id].length > i)
                                                                            - if (productOptionCheck != productOptionArray[product[k].product_id][i][0])
                                                                                div
                                                                                    p #{productOptionArray[product[k].product_id][i][0]}
                                                                                    - for (let ac = 0; productOptionArray[product[k].product_id].length > ac + i && productOptionArray[product[k].product_id][i][0] == productOptionArray[product[k].product_id][i + ac][0]; ac++ )
                                                                                        button.optionButton(data-option-id = `${productOptionArray[product[k].product_id][i + ac][4]}`) #{productOptionArray[product[k].product_id][i + ac][1]} #{productOptionArray[product[k].product_id][i + ac][2] - ((productOptionArray[product[k].product_id][i + ac][2]) / 100 * productOptionArray[product[k].product_id][i + ac][3]) }원
                                                                                    - productOptionCheck = productOptionArray[product[k].product_id][i][0]
                                                                    - else
                                                                            div.option_modal_basket
                                                                                button.option_modal_x_button 취소
                                                                                button.add_order_button 주문담기

                                    - lv2Index++
                        - menuIdCheck = menu[i].lv1_id
                        - pageNum++;

            section.orderHistory
                section.orderBox
                div
                    p#total_number 총 수량(0)
                    p#total_amount 0 원
                    button#result_button 결제
                    button#reset_button 초기화
                            div.modalBack#modalBack
            div.modalBackground
                div.option_modal_main
            main.payment_modal
                div.modal
                    section 
                        button.payment_modal_x_button
                    section
                        div
                            button.store_or_packaging.backgroundFlag 매장에서 
                            button.store_or_packaging 포장하기
                        div 
                            p
                            p 스푼 개수
                            span 
                                button.spoon_number_minus -
                                p 0
                                button.spoon_number_plus +
                        div
                            p
                            p 드라이아이스
                            span 
                                button.dryice_number_minus -
                                p 0
                                button.dryice_number_plus +
                    section 
                        div.payment_modal_order_box
                            div.option
                                p 상품명
                                p 수량
                                p 가격
                            aside
                            div.option.totalPrice
                                p 총합:
                                p 
                                p#final_amount
                    section
                        button#point_payment
                            i.xi-star-o
                            p 스탬프 사용/적립
                        button#voucher_payment
                            i.xi-gift-o
                            p 기프티콘 결제
                    section
                        button.payment_modal_x_button 취소
                        button#payment_button 결제하기
            main.point_modal_background
                div.point_modal
                    section 
                        button.point_modal_x_button
                    section 
                        div
                            p#point_input_box
                            button#point_lookup_button 조회
                        div#point_keypad
                            - let buttonValue = [1,2,3,4,5,6,7,8,9, "010", 0, ""];
                            - for(let i = 0; i < 12; i++)
                                button #{buttonValue[i]}
                    section 
                        div
                            p 보유 스탬프:
                            p 23/10
                            hr 
                            p 적립 스탬프:
                            p 1개
                            hr
                            p 스탬프 사용:
                            p 5000원 할인[10개 차감]
                            hr
                        div
                            button.point_modal_x_button 취소
                            button.point_modal_o_button 사용하기
                div.point_modal_sub
                    section
                        div
                            p 적립 하시겠습니까? 
                        div
                            button 취소
                            button 적립
            main.paying_modal_background
                div.paying_modal
                    section 
                        p 결제금액: 42,900원
                    section 
                        button
                            img(src="images/pay_img/applepayre.png", alt="")
                        button
                            img(src="images/pay_img/kakaopay.png", alt="")
                        button
                            img(src="images/pay_img/naverpay2.png", alt="")
                        button
                            img(src="images/pay_img/samsungpay2.png", alt="")
                        button 
                            i.xi-cc-visa
                            p 카드
                    section 
                        button 뒤로가기
            main.voucher_modal_background
                div.voucher_modal
                    section 
                    section 
                        button QR코드/바코드 스캔
                    section 
                        article 
                            div.inquiry_box
                                p.inquiry_input_box
                            div.inquiry_keypad
                                - buttonValue = [1,2,3,4,5,6,7,8,9, "CLEAR", 0, ""];
                                - for(let i = 0; i < 12; i++)
                                    button #{buttonValue[i]}
                            div.inquiry_button
                                button 사용
                        article 
                            div.view_window
                                div
                                div
                                    div.gifticon_element
                                        button
                                        p 설빙 5000원권
                                        p 남은 금액: 
                                        p 3,500원
                                    div.gifticon_element
                                        button
                                        p 설빙 5000원권
                                        p 남은 금액: 
                                        p 3,500원
                                    div.gifticon_element
                                        button
                                        p 설빙 5000원권
                                        p 남은 금액: 
                                        p 3,500원
                                    div.gifticon_element
                                        button
                                        p 설빙 5000원권
                                        p 남은 금액: 
                                        p 3,500원
                    section 
                        button 뒤로가기
                        button 사용하기
            main#reset_timer_modal_background
                section#reset_time_modal 
                section#reset_time_guide 60초 후 처음화면으로 돌아갑니다.

        script(src="./js/mainPage.js")