html( lang="ko" )
    head
        meta( charset="utf-8")
        title 설빙 키오스크
        meta(http-equiv="Expires" content="-1")
        link(rel="icon" type="image/png" href="./images/bingsoo_img/preview.png")
        script(src="http://code.jquery.com/jquery-latest.min.js")
        script(src="https://printjs-4de6.kxcdn.com/print.min.js")
        link( rel="stylesheet", href="https://printjs-4de6.kxcdn.com/print.min.css" )
        link( rel="stylesheet", href="./css/mainPage.css" )
        link( rel="stylesheet", href="./css/optionmodal.css")
        link( rel="preconnect" href="https://fonts.googleapis.com" )
        link( rel="preconnect" href="https://fonts.gstatic.com" crossorigin )
        link(href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap" rel="stylesheet")
        link( href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet" )
        link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css")
        script( src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="https://kit.fontawesome.com/90abd907ab.js" crossorigin="anonymous")
    body
        //img(src="./images/temporary.jpg", alt="" class="temporary_img")
        main.main_page(data-purchase-id = purchaseId[0]["max(id)"])
            section.logoBox
                div
                    img(src="./images/sulbingLogo.png", alt="")
            section.showProduct
                ul.menuBar1
                    - let menuIdCheck = 0;
                    - for (let i = 0; i < menu.length; i++)
                        -if (menu[i].lv1_id != menuIdCheck)
                            li  #{menu[i].lv1_name}
                            - menuIdCheck = menu[i].lv1_id
                ul.menuBar2
                    - let menuIndex = [];
                    - let pageNum = 0;
                    - menuIdCheck = 0;
                    - let checkId = 0;
                    - for (let i = 0; i < menu.length; i++)
                        -if (menu[i].lv1_id != menuIdCheck)
                            li
                                -for(let j = 0; j < menu.length; j++)
                                    -if (j == 0)
                                        - menuIndex.push([`${menu[i].lv1_id}_all`]);
                                        div All 
                                        - checkId = menu[i].lv1_id;
                                    -if (menu[j].lv1_id == checkId)
                                        div #{menu[j].lv2_name}
                                        - menuIndex[pageNum].push(menu[j].lv2_id);
                            - menuIdCheck = menu[i].lv1_id
                            - pageNum++;
                hr.menuBarLine
                - pageNum = 1;
                - menuIdCheck = 0;
                - for (let i = 0; i < menu.length; i++)
                    - if (menu[i].lv1_id != menuIdCheck)
                        section.productListWrapBox
                            - let lv2Index = 0;
                            - for(let v = 0; v < menuIndex[pageNum - 1].length; v++)
                                article.productListBox
                                    - for (let j = 0; j < menuInProduct.length; j++)
                                        -if (menuInProduct[j].menu_id == menuIndex[pageNum - 1][lv2Index])
                                            - for (let k = 0; k < product.length; k++)
                                                - if (menuInProduct[j].product_id == product[k].product_id)
                                                    div.productItem(data-product-id = `${product[k].product_id}`, data-product-price = `${product[k].price}`, data-product-discount = `${product[k].discount}` data-product-name = product[k].name class=`${product[k].isNew}`)
                                                        img(src=`images/${product[k].image_path}`, alt="")
                                                        p(data-product-id = `${product[k].product_id}`) #{product[k].name}
                                                            - if (product[k].stock <= 10 && product[k].stock > 0)
                                                                - if (product[k].stock <= 5)
                                                                    span.this_stock.displayFlag.backgroundFlag(data-product-stock = product[k].stock data-minus-stock = 0 data-check-id = product[k].product_id) #{product[k].stock}개 남았어요
                                                                - else 
                                                                    span.this_stock.displayFlag(data-product-stock = product[k].stock data-minus-stock = 0 data-check-id = product[k].product_id) #{product[k].stock}개 남았어요
                                                            - else if (product[k].stock > 10)
                                                                span.this_stock(data-product-stock = product[k].stock data-minus-stock = 0 data-check-id = product[k].product_id) #{product[k].stock}개 남았어요
                                                            - else
                                                                span.this_stock.sold_out
                                                        p #{Number(String(product[k].price - (product[k].price / 100 * product[k].discount)).replace(/[^0-9,]/g, '')).toLocaleString()}원
                                                        div
                                                            section 
                                                                button.option_modal_x_button
                                                            div.option_modal_up
                                                                img.optionImg(src=`images/${product[k].image_path}` alt='mangoBingsoo')
                                                                div.option_modal_text
                                                                    p(data-product-id = `${product[k].product_id}`) #{product[k].name}
                                                                    p.productPrice #{Number(String(product[k].price - (product[k].price / 100 * product[k].discount)).replace(/[^0-9,]/g, '')).toLocaleString()}원
                                                                    p #{product[k].description}
                                                                    p 알레르기 정보 : #{product[k].allergy}
                                                                div.totalPrice
                                                                    div 
                                                                        hr
                                                                        p 상품의 옵션을 선택하세요.
                                                                        hr
                                                                    p 합계:  
                                                                    p.resultPrice 0원
                                                                    hr 
                                                            div.option_modal_down
                                                                - let productOptionCheck = "";
                                                                - for (let i = 0; i <= productOptionArray[product[k].product_id].length; i++)
                                                                    - if (productOptionArray[product[k].product_id].length > i)
                                                                            - if (productOptionCheck != productOptionArray[product[k].product_id][i][0])
                                                                                div
                                                                                    p #{productOptionArray[product[k].product_id][i][0]}
                                                                                    - for (let ac = 0; productOptionArray[product[k].product_id].length > ac + i && productOptionArray[product[k].product_id][i][0] == productOptionArray[product[k].product_id][i + ac][0]; ac++ )
                                                                                        button.optionButton(data-option-id = `${productOptionArray[product[k].product_id][i + ac][4]}` data-option-price = `${productOptionArray[product[k].product_id][i + ac][2]}`, data-option-discount = `${productOptionArray[product[k].product_id][i + ac][3]}`, data-option-name = `${productOptionArray[product[k].product_id][i + ac][1]}`) #{productOptionArray[product[k].product_id][i + ac][1]} #{Number(String(productOptionArray[product[k].product_id][i + ac][2] - ((productOptionArray[product[k].product_id][i + ac][2]) / 100 * productOptionArray[product[k].product_id][i + ac][3])).replace(/[^0-9,]/g, '')).toLocaleString()}원
                                                                                    - productOptionCheck = productOptionArray[product[k].product_id][i][0]
                                                                    - else
                                                                            div.option_modal_basket
                                                                                button.option_modal_x_button 취소
                                                                                button.add_order_button 주문담기

                                    - lv2Index++
                        - menuIdCheck = menu[i].lv1_id
                        - pageNum++;

            section.orderHistory
                section.orderBox
                div
                    p#total_number 총 수량(0)
                    p#total_amount 0 원
                    button#result_button 결제
                    button#reset_button 초기화
                            div.modalBack#modalBack
            div.modalBackground
                div.option_modal_main
            main.payment_modal
                div.modal
                    section 
                        button.payment_modal_x_button
                    section
                        div
                            button.store_or_packaging.backgroundFlag 매장에서 
                            button.store_or_packaging 포장하기
                        div.disabled
                            p
                            p 스푼 개수
                            span 
                                button.spoon_number_minus
                                    i.xi-minus-min
                                p 0
                                button.spoon_number_plus
                                    i.xi-plus-min
                        div.disabled
                            p
                            p 드라이아이스
                            span 
                                button.dryice_number_minus 
                                    i.xi-minus-min
                                p 0
                                button.dryice_number_plus 
                                    i.xi-plus-min
                    section 
                        div.payment_modal_order_box
                            div.option
                                p 상품명
                                p 수량
                                p 가격
                            aside
                            div.option.totalPrice
                                p 총합:
                                p 
                                p#final_amount
                    section
                        button#point_payment
                            i.xi-star-o
                            p 스탬프 사용/적립
                        button#voucher_payment
                            i.xi-gift-o
                            p 기프티콘 결제
                    section
                        button.payment_modal_x_button 취소
                        button#payment_button 결제하기
            main.point_modal_background
                div.point_modal
                    section 
                        button: i.xi-error-o
                    section 
                        div
                            p#point_input_box
                            button#point_lookup_button 조회
                        div#point_keypad
                            - let buttonValue = [1,2,3,4,5,6,7,8,9, "010", 0, ""];
                            - for(let i = 0; i < 12; i++)
                                button #{buttonValue[i]}
                    section 
                        div
                            p 보유 스탬프:
                            p#have_stamp /10
                            hr 
                            p 적립 스탬프:
                            p#accumulate_stamp 개
                            hr
                            p 스탬프 사용:
                            p#stamp_use
                            button#stamp_use_button 사용하기
                            hr
                        div
                            button.point_modal_x_button 취소
                            button.point_modal_o_button 적립하기
                main.tel_modal_background
                    div.tel_modal
                        section 
                            button &#x2715;
                            div
                                p 이 문서는 사용자 데이터베이스에 있는 정보입니다.
                                p 쉽게 사용할 수 있도록 제공됩니다.
                                p 사용하고자 하는 번호를 클릭하거나 직접 입력하여 사용하실 수 있습니다.
                        section 
                            article 
                                p 회원등급
                                p tel
                                p stamp
                            article.tel_save
                                - for (let i = 0; i < stamp.length; i++)
                                    button 
                                        - let user = stamp[i].auth == "G" ? "비회원" : "회원";
                                        p #{user}
                                        p #{stamp[i].tel}
                                        p #{stamp[i].stamp}
            main.paying_modal_background
                div.paying_modal
                    section 
                        p 
                    section 
                        button.pay_payment_window_button
                            img(src="images/pay_img/samsungpay2.png", alt="")
                        button.pay_payment_window_button
                            img(src="images/pay_img/applepayre.png", alt="")
                        button.pay_payment_window_button
                            img(src="images/pay_img/kakaopay.png", alt="")
                        button.pay_payment_window_button
                            img(src="images/pay_img/naverpay2.png", alt="")
                        button#card_payment_window_button
                            i.xi-cc-visa
                            p 카드
                    section 
                        button 취소
                main#card_terminal_modal_background
                    section#card_terminal_modal
                        section 
                            p 결제 진행중입니다
                        div
                            img(src="images/pay_img/카드단말기.jpg", alt="")
                            div
                                img(src="images/pay_img/visa_card.png", alt="")
                        div
                            div#card_terminal_price
                                p 
                        button 취소하기
                main#pay_terminal_modal_background
                    section#pay_terminal_modal
                        section 
                            p 결제 진행중입니다
                        div
                            img(src="images/pay_img/카드단말기.jpg", alt="")
                            div
                                img(src="images/pay_img/mobilePay.png", alt="")
                        div
                            div#pay_terminal_price
                                p 
                        button 취소하기
                main#receipt_modal_background
                    section#receipt_modal
                        article 
                            div 상 &nbsp;호:&nbsp; (주)설빙 안산 라인점
                            div 사업자번호:&nbsp; 213-99-91919 &nbsp;&nbsp;대표자: 박민희
                            div 주 &nbsp;소:&nbsp; 경기도 안산시 중앙동 
                            div 전화번호:&nbsp; 031-123-9876
                            div.receipt_date 2020-11-04 13:53
                            span 
                            div 
                                p 메뉴명
                                p 단가
                                p 수량
                                p 금액
                            span 
                        article 
                            button 인쇄하기
                            button 완료
            main.voucher_modal_background
                div.voucher_modal
                    section 
                        div#gifticon_price 
                        button: i.xi-error-o
                    section 
                        button QR코드/바코드 스캔
                    section 
                        article 
                            div.inquiry_box
                                input.inquiry_input_box(type="text")
                            div.inquiry_keypad
                                - buttonValue = [1,2,3,4,5,6,7,8,9, "CLEAR", 0, ""];
                                - for(let i = 0; i < 12; i++)
                                    button #{buttonValue[i]}
                            div.inquiry_button
                                button#inquiry_add_button 사용
                        article 
                            div.view_window
                                div
                                div#gifticon_box
                    section
                        button 취소
                        button 적용하기
                main.gifticon_modal_background
                    div.gifticon_modal
                        section 
                            button &#x2715;
                            div
                                p 이 문서는 사용자 데이터베이스에 있는 정보입니다.
                                p 쉽게 사용할 수 있도록 제공됩니다.
                                p 사용하고자 하는 번호를 클릭하거나 직접 입력하여 사용하실 수 있습니다.
                        section 
                            article 
                                p 상품권명
                                p 핀 번호
                                p 남은잔액
                            article.gifticon_save
                                - for (let i = 0; i < gifticon.length; i++)
                                    button 
                                        p #{gifticon[i].name}
                                        p #{gifticon[i].code}
                                        p #{gifticon[i].save_amount}
            main#reset_timer_modal_background
                section#reset_time_modal 
                section#reset_time_guide 60초 후 시작화면으로 돌아갑니다.
        div(id="container" style="width: 100%; height: 100%;")
        script(src="./js/mainPage.js")